body{margin:0;padding:0;background:url(../image/1.jpg);
    background-size: 1708px 850px;
    font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;color:#CCCCCC}
#text{width:400px;height:425px;left:60px;top:80px;position:absolute;}
#code{display:none;font-size:16px;}
#clock-box {position:absolute;left:60px;top:550px;font-size:28px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:64px;}
#canvas{margin:0 auto;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;font-family: "楷体","楷体_GB2312"; font-size: 20px;}
.space{margin-right:150px;}
img{
    width:50px;
    height:50px;
    margin-top:-5%;
    opacity: 0.5;
    position: absolute;
    z-index: 99;
    /*-webkit-transform:rotate3d(.6,1,.6,45deg);*/
    /*-moz-transform:rotate3d(.6,1,.6,45deg);*/
    /*-ms-transform:rotate3d(.6,1,.6,45deg);*/
    /*-o-transform:rotate3d(.6,1,.6,45deg);*/
    /*transform:rotate3d(.6,1,.6,45deg);*/

}
